In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Dense, Input, Dropout, BatchNormalization, Dot, Embedding, Flatten, Activation
from wordcloud import WordCloud
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint,LearningRateScheduler, TensorBoard
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('../artifacts/raw/animelist.csv', low_memory=True, usecols=['user_id', 'anime_id', 'rating'])

In [3]:
data.head()

   user_id  anime_id  rating
0        0        67       9
1        0      6702       7
2        0       242      10
3        0      4898       0
4        0        21      10

In [4]:
n_rating = data['user_id'].value_counts()
n_rating

user_id
11100    14429
10255     8403
4773      5735
6852      5406
16057     5080
         ...
106          1
6846         1
92           1
26           1
10703        1
Name: count, Length: 15186, dtype: int64

In [5]:
len(data)

5000000

In [6]:
rating_df = data[data['user_id'].isin(n_rating[n_rating >400].index)].copy()

In [7]:
rating_df.head()

     user_id  anime_id  rating
213        2     24833       0
214        2       235      10
215        2     36721       0
216        2     40956       0
217        2     31933       0

In [8]:
len(rating_df)

3242641

In [9]:
min_rating = min(rating_df['rating'])
min_rating

0

In [10]:
max_rating = max(rating_df['rating'])
max_rating

10

In [11]:
avg_rating = rating_df['rating'].mean()
avg_rating

np.float64(4.122023992171813)

In [12]:
rating_df['rating'] = rating_df['rating'].apply(lambda x : (x-min_rating)/(max_rating-min_rating)).values.astype(np.float64)

In [13]:
rating_df

         user_id  anime_id  rating
213            2     24833     0.0
214            2       235     1.0
215            2     36721     0.0
216            2     40956     0.0
217            2     31933     0.0
...          ...       ...     ...
4999916    16507      8985     0.0
4999917    16507      5454     0.0
4999918    16507     15911     0.0
4999919    16507       878     0.0
4999920    16507       308     0.0

[3242641 rows x 3 columns]

In [14]:
min(rating_df['rating']), max(rating_df['rating'])

(0.0, 1.0)

In [16]:
np.mean(rating_df['rating'])

np.float64(0.41220239921718105)

In [17]:
rating_df.duplicated().sum()

np.int64(0)

In [18]:
rating_df.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64